.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/Thunder.iml

/thunder/thunder.iml

/.idea/

/thunder/Thunder-Thunder.iml

/thunder-sample/thunder-sample.iml

/thunder-sample/.idea/.name

/thunder-sample/.idea/workspace.xml
/thunder-sample/.idea/vcs.xml
/thunder-sample/.idea/modules.xml
/thunder-sample/.idea/misc.xml
/thunder-sample/.idea/gradle.xml
/thunder-sample/.idea/copyright/profiles_settings.xml
/thunder-sample/.idea/compiler.xml
